@import "tailwindcss";

@plugin "daisyui" {
  themes: pastel --default, dim;
}

input,
textarea,
.input,
.textarea {
  border-radius: 8px !important;
}

input:focus,
textarea:focus,
.input:focus,
.textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}